{{ ansible_managed | comment }}
#
#  This file is part of systemd.
#
[Unit]
Description=Journal Remote Sink Service - {{ item.name }} on Port {{ item.port }}
Documentation=man:systemd-journal-remote(8) man:journal-remote.conf(5)
Requires={{ item.systemd_file }}.socket

[Service]
ExecStart=/lib/systemd/systemd-journal-remote --listen-https=-3 --output={{ item.journal_file }}
LockPersonality=yes
LogsDirectory=journal/remote
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectProc=invisible
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
User=systemd-journal-remote
WatchdogSec=3min

# If there are many split up journal files we need a lot of fds to access them
# all in parallel.
LimitNOFILE=524288

[Install]
Also={{ item.systemd_file }}.socket
